nav a {
    text-decoration: none;
    color: blueviolet;
    background-color: bisque;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
foot{
    background-color: blueviolet;
    text-align: center;
    color: white;
}

.FoDiv{
    justify-content: center;
    display: flex;
    border: black solid 5px;
  }
  
  .Kepkereet{
    margin: 0 10px;
    transform: scale(2);
  }