nav a {
    text-decoration: none;
    color: blueviolet;
    background-color: bisque;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
foot{
    background-color: blueviolet;
    text-align: center;
    color: white;
}

.FoDivKeret {
    text-align: center;
  }
  .KepKerett {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  .KepKerett img {
    max-width: 100%;
    height: auto;
    transition: 0.5s;
    transform: scale(1.5);
  }